*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
h1{
  margin: 40px auto;
  text-align: center;
}
div{
    border: 2px solid greenyellow;
    width: 370px;
}
.div1{
    position: absolute;
    top: 152px;
    left: 100px;
}
.div2{
    max-width: 500px;
    margin: auto;
    position: relative;
    top: 32px;
    height: 173px;
    width: 388px;
}
.div3{
    position: absolute;
    top: 152px;
    right: 100px;
}
.section1{
    border: 2px solid greenyellow;
    width: 65px;
    text-align: center;
    float: right;
    background-color: rgb(241, 143, 13);
}
.section2{
    border: 2px solid greenyellow;
    width: 65px;
    text-align: center;
    float: right;
    background-color: rgb(241, 143, 13);
}
.section3{
    border: 2px solid greenyellow;
    width: 65px;
    text-align: center;
    float: right;
    background-color: rgb(241, 143, 13);
}
.para1{
    padding: 10px;
}
.para2{
    padding: 10px;
}
.para3{
    padding: 10px;
}