*{
    box-sizing: border-box;
}
body{
    background-color: rgb(182, 245, 9);
    font-family: 'Baloo Bhai 2', cursive;
}
.navbar{
    width: 100%;
    border: 2px solid black;
    height: 30%;
    background-color: aquamarine;
    position: relative;
    top: 0px;
}
.h1{
    float: left;
}
.h2{
    text-align: center;
    margin-top: 45px;
}
#section1{
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}
.div1{
    /* border: 2px solid black; */
    padding: 10px;
    margin-top: 20px;
    margin-left:10px;
    margin-right: 10px;
    border: 1px solid black;
    background-color: aquamarine;
}
.div2{
    /* border: 2px solid black; */
    padding: 10px;
    margin-top: 20px;
    margin-left:10px;
    margin-right: 10px;
    border: 1px solid black;
    background-color: aquamarine;
}
.div3{
    /* border: 2px solid black; */
    padding: 10px;
    margin-top: 20px;
    margin-left:10px;
    margin-right: 10px;
    border: 1px solid black;
    background-color: aquamarine;
}
@media (max-width:1020px) {
     #services .box{
        flex-direction: column;
    }
}
.navbar-toggler{
    margin-right: 10px;
    background-color: grey;
}
